@tailwind base;
@tailwind components;
@tailwind utilities;

#cuisine_scrollbar::-webkit-scrollbar {
  display: none;
}
#helpLegal::-webkit-scrollbar {
  display: none;
}
#cuisine_scrollbar > img:hover {
  cursor: pointer;
}

/* #cart_items_scroll::-webkit-scrollbar {
  display: none;
} */



@keyframes slide-animation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-slide-animation {
  animation: slide-animation 0.5s ease-in-out;
}





